*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}

nav{
  background-color: aqua;
}

.nav{
  display: flex;
  flex-wrap: nowrap;
  width: 15rem;
  list-style: none;
  margin: 0 auto;
  justify-content: space-between;
}

.nav img{
  display: flex;
  flex-direction: row;
  justify-self: right;
  position: relative;
  width: 100%;
}

.nav li{
 padding: 1rem;
}

.nav a{
  text-decoration: none;
  
  text-align: center;
}

.wrapper{
  width: 100%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 0.5rem;
  color: rgb(88, 83, 75);
  margin: 0 auto;
}

footer{
  position: relative;
  bottom: 0;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  color: white;
}
